In [1]:
import pandas as pd
import numpy as np
import requests
import urllib
import json

In [2]:
link = "https://coronavirus.data.gov.uk/downloads/csv/coronavirus-cases_latest.csv"

In [3]:
x = requests.get("https://coronavirus.data.gov.uk/downloads/csv/coronavirus-cases_latest.csv")

In [4]:
f = urllib.urlopen(link)

AttributeError: module 'urllib' has no attribute 'urlopen'

In [5]:
text = x.text
text_file = open('text_file.txt', 'w')
text_file.write(x.text)
text_file.close

In [6]:
df_data = pd.read_csv('text_file.txt')

In [7]:
df_data.head()

,Area name,Area code,Area type,Specimen date,Daily lab-confirmed cases,Previously reported daily cases,Change in daily cases,Cumulative lab-confirmed cases,Previously reported cumulative cases,Change in cumulative cases
0,England,E92000001,Nation,2020-05-10,58.0,0.0,58.0,136873,135982.0,891.0
1,South West,E12000009,Region,2020-05-10,4.0,NaN,NaN,7044,NaN,NaN
2,South East,E12000008,Region,2020-05-10,6.0,NaN,NaN,19344,NaN,NaN
3,London,E12000007,Region,2020-05-10,0.0,NaN,NaN,25891,NaN,NaN
4,East of England,E12000006,Region,2020-05-10,0.0,NaN,NaN,12295,NaN,NaN

In [46]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26663 entries, 0 to 26662
Data columns (total 10 columns):
Area name                               26663 non-null object
Area code                               26663 non-null object
Area type                               26663 non-null object
Specimen date                           26663 non-null object
Daily lab-confirmed cases               26659 non-null float64
Previously reported daily cases         92 non-null float64
Change in daily cases                   92 non-null float64
Cumulative lab-confirmed cases          26663 non-null int64
Previously reported cumulative cases    92 non-null float64
Change in cumulative cases              92 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 2.0+ MB

In [8]:
df_codes = pd.read_csv('england_codes.csv')

In [9]:
df_codes.head()

,LAD13CD,LAD13CDO,LAD13NM,NUTS315CD,NUTS315NM,NUTS215CD,NUTS215NM,NUT115CD,NUTS115NM,FID
0,E06000001,00EB,Hartlepool,UKC11,Hartlepool and Stockton-on-Tees,UKC1,Tees Valley and Durham,UKC,North East (England),1
1,E06000002,00EC,Middlesbrough,UKC12,South Teesside,UKC1,Tees Valley and Durham,UKC,North East (England),2
2,E06000003,00EE,Redcar and Cleveland,UKC12,South Teesside,UKC1,Tees Valley and Durham,UKC,North East (England),3
3,E06000004,00EF,Stockton-on-Tees,UKC11,Hartlepool and Stockton-on-Tees,UKC1,Tees Valley and Durham,UKC,North East (England),4
4,E06000005,00EH,Darlington,UKC13,Darlington,UKC1,Tees Valley and Durham,UKC,North East (England),5

In [10]:
code_list = df_codes['LAD13CD'].tolist()

In [11]:
code_list

['E06000001',
 'E06000002',
 'E06000003',
 'E06000004',
 'E06000005',
 'E06000006',
 'E06000007',
 'E06000008',
 'E06000009',
 'E06000010',
 'E06000011',
 'E06000012',
 'E06000013',
 'E06000014',
 'E06000015',
 'E06000016',
 'E06000017',
 'E06000018',
 'E06000019',
 'E06000020',
 'E06000021',
 'E06000022',
 'E06000023',
 'E06000024',
 'E06000025',
 'E06000026',
 'E06000027',
 'E06000028',
 'E06000029',
 'E06000030',
 'E06000031',
 'E06000032',
 'E06000033',
 'E06000034',
 'E06000035',
 'E06000036',
 'E06000037',
 'E06000038',
 'E06000039',
 'E06000040',
 'E06000041',
 'E06000042',
 'E06000043',
 'E06000044',
 'E06000045',
 'E06000046',
 'E06000047',
 'E06000049',
 'E06000050',
 'E06000051',
 'E06000052',
 'E06000053',
 'E06000054',
 'E06000055',
 'E06000056',
 'E06000057',
 'E07000004',
 'E07000005',
 'E07000006',
 'E07000007',
 'E07000008',
 'E07000009',
 'E07000010',
 'E07000011',
 'E07000012',
 'E07000026',
 'E07000027',
 'E07000028',
 'E07000029',
 'E07000030',
 'E07000031',
 'E07000032',
 'E07000033',
 'E07000034',
 'E07000035',
 'E07000036',
 'E07000037',
 'E07000038',
 'E07000039',
 'E07000040',
 'E07000041',
 'E07000042',
 'E07000043',
 'E07000044',
 'E07000045',
 'E07000046',
 'E07000047',
 'E07000048',
 'E07000049',
 'E07000050',
 'E07000051',
 'E07000052',
 'E07000053',
 'E07000061',
 'E07000062',
 'E07000063',
 'E07000064',
 'E07000065',
 'E07000066',
 'E07000067',
 'E07000068',
 'E07000069',
 'E07000070',
 'E07000071',
 'E07000072',
 'E07000073',
 'E07000074',
 'E07000075',
 'E07000076',
 'E07000077',
 'E07000078',
 'E07000079',
 'E07000080',
 'E07000081',
 'E07000082',
 'E07000083',
 'E07000084',
 'E07000085',
 'E07000086',
 'E07000087',
 'E07000088',
 'E07000089',
 'E07000090',
 'E07000091',
 'E07000092',
 'E07000093',
 'E07000094',
 'E07000095',
 'E07000096',
 'E07000098',
 'E07000099',
 'E07000102',
 'E07000103',
 'E07000105',
 'E07000106',
 'E07000107',
 'E07000108',
 'E07000109',
 'E07000110',
 'E07000111',
 'E07000112',
 'E07000113',
 'E07000114',
 'E07000115',
 'E07000116',
 'E07000117',
 'E07000118',
 'E07000119',
 'E07000120',
 'E07000121',
 'E07000122',
 'E07000123',
 'E07000124',
 'E07000125',
 'E07000126',
 'E07000127',
 'E07000128',
 'E07000129',
 'E07000130',
 'E07000131',
 'E07000132',
 'E07000133',
 'E07000134',
 'E07000135',
 'E07000136',
 'E07000137',
 'E07000138',
 'E07000139',
 'E07000140',
 'E07000141',
 'E07000142',
 'E07000143',
 'E07000144',
 'E07000145',
 'E07000146',
 'E07000147',
 'E07000148',
 'E07000149',
 'E07000150',
 'E07000151',
 'E07000152',
 'E07000153',
 'E07000154',
 'E07000155',
 'E07000156',
 'E07000163',
 'E07000164',
 'E07000165',
 'E07000166',
 'E07000167',
 'E07000168',
 'E07000169',
 'E07000170',
 'E07000171',
 'E07000172',
 'E07000173',
 'E07000174',
 'E07000175',
 'E07000176',
 'E07000177',
 'E07000178',
 'E07000179',
 'E07000180',
 'E07000181',
 'E07000187',
 'E07000188',
 'E07000189',
 'E07000190',
 'E07000191',
 'E07000192',
 'E07000193',
 'E07000194',
 'E07000195',
 'E07000196',
 'E07000197',
 'E07000198',
 'E07000199',
 'E07000200',
 'E07000201',
 'E07000202',
 'E07000203',
 'E07000204',
 'E07000205',
 'E07000206',
 'E07000207',
 'E07000208',
 'E07000209',
 'E07000210',
 'E07000211',
 'E07000212',
 'E07000213',
 'E07000214',
 'E07000215',
 'E07000216',
 'E07000217',
 'E07000218',
 'E07000219',
 'E07000220',
 'E07000221',
 'E07000222',
 'E07000223',
 'E07000224',
 'E07000225',
 'E07000226',
 'E07000227',
 'E07000228',
 'E07000229',
 'E07000234',
 'E07000235',
 'E07000236',
 'E07000237',
 'E07000238',
 'E07000239',
 'E07000240',
 'E07000241',
 'E07000242',
 'E07000243',
 'E08000001',
 'E08000002',
 'E08000003',
 'E08000004',
 'E08000005',
 'E08000006',
 'E08000007',
 'E08000008',
 'E08000009',
 'E08000010',
 'E08000011',
 'E08000012',
 'E08000013',
 'E08000014',
 'E08000015',
 'E08000016',
 'E08000017',
 'E08000018',
 'E08000019',
 'E08000021',
 'E08000022',
 'E08000023',
 'E08000024',
 'E08000025',
 'E08000026',
 'E08000027',
 'E08000028',
 'E08000029',
 'E08000030',
 'E08000031',
 'E08000032',
 'E08000033',
 'E08000034',
 'E08000035',
 'E08000036',
 'E08000037',
 'E09000001',
 'E09000002',
 'E09000003',
 'E09000004',
 'E09000005',
 'E09000006',
 'E09000007',
 'E09000008',
 'E09000009',
 'E09000010',
 'E09000011',
 'E09000012',
 'E09000013',
 'E09000014',
 'E09000015',
 'E09000016',
 'E09000017',
 'E09000018',
 'E09000019',
 'E09000020',
 'E09000021',
 'E09000022',
 'E09000023',
 'E09000024',
 'E09000025',
 'E09000026',
 'E09000027',
 'E09000028',
 'E09000029',
 'E09000030',
 'E09000031',
 'E09000032',
 'E09000033']

In [25]:
def get_area_data(df, area_code):
    
    df = df.set_index('Area code')
    if area_code in df.index:
        df_area = df.loc[area_code]
        df_area_row = df_area[:1]
        df_area_row = df_area.loc[:,['Area name', 'Cumulative lab-confirmed cases']]
        df_area_row = df_area_row[:1]
        df_area_row.reset_index(inplace=True)
        return df_area_row.iloc[0,:]

In [29]:
df_area = get_area_data(df_data, "E06000030")
df_area

Area code                         E06000030
Area name                           Swindon
Cumulative lab-confirmed cases          410
Name: 0, dtype: object

In [42]:
def get_all_eng_data(df, code_list):
    
    # Initialise main dataframe
    col_names = ['Area code', 'Area name', 'Cumulative lab-confirmed cases']
    my_df = pd.DataFrame(columns = col_names)
    
    for code in code_list:
        
        my_df.loc[len(my_df)] = get_area_data(df_data, code)
        
    my_df = my_df.set_index('Area code')
    my_df = my_df.dropna()
    return my_df

In [44]:
df_england_data = get_all_eng_data(df_data, code_list)

In [47]:
df_england_data.to_json('eng_data.json')

In [50]:
df_data

,Area name,Area code,Area type,Specimen date,Daily lab-confirmed cases,Previously reported daily cases,Change in daily cases,Cumulative lab-confirmed cases,Previously reported cumulative cases,Change in cumulative cases
0,England,E92000001,Nation,2020-05-10,58.0,0.0,58.0,136873,135982.0,891.0
1,South West,E12000009,Region,2020-05-10,4.0,NaN,NaN,7044,NaN,NaN
2,South East,E12000008,Region,2020-05-10,6.0,NaN,NaN,19344,NaN,NaN
3,London,E12000007,Region,2020-05-10,0.0,NaN,NaN,25891,NaN,NaN
4,East of England,E12000006,Region,2020-05-10,0.0,NaN,NaN,12295,NaN,NaN
5,West Midlands,E12000005,Region,2020-05-10,5.0,NaN,NaN,15000,NaN,NaN
6,East Midlands,E12000004,Region,2020-05-10,2.0,NaN,NaN,7688,NaN,NaN
7,Yorkshire and The Humber,E12000003,Region,2020-05-10,28.0,NaN,NaN,12366,NaN,NaN
8,North West,E12000002,Region,2020-05-10,3.0,NaN,NaN,22510,NaN,NaN
9,North East,E12000001,Region,2020-05-10,10.0,NaN,NaN,9044,NaN,NaN
10,Worcestershire,E10000034,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1266,NaN,NaN
11,West Sussex,E10000032,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1230,NaN,NaN
12,Warwickshire,E10000031,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1317,NaN,NaN
13,Surrey,E10000030,Upper tier local authority,2020-05-10,0.0,NaN,NaN,2759,NaN,NaN
14,Suffolk,E10000029,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1290,NaN,NaN
15,Staffordshire,E10000028,Upper tier local authority,2020-05-10,4.0,NaN,NaN,1979,NaN,NaN
16,Somerset,E10000027,Upper tier local authority,2020-05-10,0.0,NaN,NaN,571,NaN,NaN
17,Oxfordshire,E10000025,Upper tier local authority,2020-05-10,1.0,NaN,NaN,1755,NaN,NaN
18,Nottinghamshire,E10000024,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1224,NaN,NaN
19,North Yorkshire,E10000023,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1180,NaN,NaN
20,Northamptonshire,E10000021,Upper tier local authority,2020-05-10,1.0,NaN,NaN,1150,NaN,NaN
21,Norfolk,E10000020,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1913,NaN,NaN
22,Lincolnshire,E10000019,Upper tier local authority,2020-05-10,0.0,NaN,NaN,916,NaN,NaN
23,Leicestershire,E10000018,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1060,NaN,NaN
24,Lancashire,E10000017,Upper tier local authority,2020-05-10,2.0,NaN,NaN,3167,NaN,NaN
25,Kent,E10000016,Upper tier local authority,2020-05-10,0.0,NaN,NaN,4191,NaN,NaN
26,Hertfordshire,E10000015,Upper tier local authority,2020-05-10,0.0,NaN,NaN,2603,NaN,NaN
27,Hampshire,E10000014,Upper tier local authority,2020-05-10,4.0,NaN,NaN,3032,NaN,NaN
28,Gloucestershire,E10000013,Upper tier local authority,2020-05-10,0.0,NaN,NaN,1328,NaN,NaN
29,Essex,E10000012,Upper tier local authority,2020-05-10,0.0,NaN,NaN,2907,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
26633,Brighton and Hove,E06000043,Lower tier local authority,2020-02-09,1.0,NaN,NaN,5,NaN,NaN
26634,England,E92000001,Nation,2020-02-08,3.0,3.0,0.0,12,12.0,0.0
26635,South East,E12000008,Region,2020-02-08,3.0,NaN,NaN,6,NaN,NaN
26636,Brighton and Hove,E06000043,Upper tier local authority,2020-02-08,3.0,NaN,NaN,4,NaN,NaN
26637,Brighton and Hove,E06000043,Lower tier local authority,2020-02-08,3.0,NaN,NaN,4,NaN,NaN
26638,England,E92000001,Nation,2020-02-05,1.0,1.0,0.0,9,9.0,0.0
26639,South East,E12000008,Region,2020-02-05,1.0,NaN,NaN,3,NaN,NaN
26640,Brighton and Hove,E06000043,Upper tier local authority,2020-02-05,1.0,NaN,NaN,1,NaN,NaN
26641,Brighton and Hove,E06000043,Lower tier local authority,2020-02-05,1.0,NaN,NaN,1,NaN,NaN
26642,England,E92000001,Nation,2020-02-03,6.0,6.0,0.0,8,8.0,0.0
26643,South West,E12000009,Region,2020-02-03,2.0,NaN,NaN,2,NaN,NaN
26644,South East,E12000008,Region,2020-02-03,1.0,NaN,NaN,2,NaN,NaN
26645,East of England,E12000006,Region,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26646,Yorkshire and The Humber,E12000003,Region,2020-02-03,1.0,NaN,NaN,2,NaN,NaN
26647,Kent,E10000016,Upper tier local authority,2020-02-03,1.0,NaN,NaN,2,NaN,NaN
26648,Hertfordshire,E10000015,Upper tier local authority,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26649,Devon,E10000008,Upper tier local authority,2020-02-03,2.0,NaN,NaN,2,NaN,NaN
26650,Barnsley,E08000016,Upper tier local authority,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26651,Barnsley,E08000016,Lower tier local authority,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26652,Stevenage,E07000243,Lower tier local authority,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26653,Swale,E07000113,Lower tier local authority,2020-02-03,1.0,NaN,NaN,1,NaN,NaN
26654,Teignbridge,E07000045,Lower tier local authority,2020-02-03,2.0,NaN,NaN,2,NaN,NaN
26655,England,E92000001,Nation,2020-01-31,1.0,1.0,0.0,2,2.0,0.0
26656,South East,E12000008,Region,2020-01-31,1.0,NaN,NaN,1,NaN,NaN
26657,Kent,E10000016,Upper tier local authority,2020-01-31,1.0,NaN,NaN,1,NaN,NaN
26658,Tunbridge Wells,E07000116,Lower tier local authority,2020-01-31,1.0,NaN,NaN,1,NaN,NaN
26659,England,E92000001,Nation,2020-01-30,1.0,1.0,0.0,1,1.0,0.0
26660,Yorkshire and The Humber,E12000003,Region,2020-01-30,1.0,NaN,NaN,1,NaN,NaN
26661,York,E06000014,Upper tier local authority,2020-01-30,1.0,NaN,NaN,1,NaN,NaN
26662,York,E06000014,Lower tier local authority,2020-01-30,1.0,NaN,NaN,1,NaN,NaN

In [80]:
def get_area_data_chart(df, area_code):
    
    df = df.set_index('Area code')
    if area_code in df.index:
        df_area = df.loc[area_code]
        df_area = df_area.loc[:,['Area name', 'Specimen date', 'Cumulative lab-confirmed cases']]
        df_area = df_area.drop_duplicates()
        df_area = df_area.drop(columns=['Area name'])
        df_area = df_area.rename(columns={'Specimen date':'date', "Cumulative lab-confirmed cases":'value'})
        #df_area_row = df_area_row[:1]
        #df_area_row.reset_index(inplace=True)
        return df_area[::-1]

In [82]:
df_example = get_area_data_chart(df_data, "E06000043").drop_duplicates()

In [84]:
df_example.to_csv('test_england_line2.csv')

In [85]:
df_example

                 date  value
Area code
E06000043  2020-02-05      1
E06000043  2020-02-08      4
E06000043  2020-02-09      5
E06000043  2020-03-04      6
E06000043  2020-03-07      7
E06000043  2020-03-10      9
E06000043  2020-03-13     11
E06000043  2020-03-15     13
E06000043  2020-03-16     15
E06000043  2020-03-18     19
E06000043  2020-03-19     21
E06000043  2020-03-20     24
E06000043  2020-03-21     27
E06000043  2020-03-22     30
E06000043  2020-03-23     34
E06000043  2020-03-24     41
E06000043  2020-03-25     47
E06000043  2020-03-26     56
E06000043  2020-03-27     68
E06000043  2020-03-28     76
E06000043  2020-03-29     85
E06000043  2020-03-30     91
E06000043  2020-03-31     97
E06000043  2020-04-01    116
E06000043  2020-04-02    128
E06000043  2020-04-03    139
E06000043  2020-04-04    152
E06000043  2020-04-05    163
E06000043  2020-04-06    173
E06000043  2020-04-07    189
E06000043  2020-04-08    208
E06000043  2020-04-09    214
E06000043  2020-04-10    225
E06000043  2020-04-11    233
E06000043  2020-04-12    244
E06000043  2020-04-13    253
E06000043  2020-04-14    266
E06000043  2020-04-15    281
E06000043  2020-04-16    292
E06000043  2020-04-17    307
E06000043  2020-04-18    319
E06000043  2020-04-19    327
E06000043  2020-04-20    335
E06000043  2020-04-21    342
E06000043  2020-04-22    343
E06000043  2020-04-23    348
E06000043  2020-04-24    350
E06000043  2020-04-25    354
E06000043  2020-04-26    358
E06000043  2020-04-27    359
E06000043  2020-04-28    371
E06000043  2020-04-29    376
E06000043  2020-04-30    380
E06000043  2020-05-01    386
E06000043  2020-05-03    388
E06000043  2020-05-04    392
E06000043  2020-05-05    400
E06000043  2020-05-10    400