In [1]:
import pandas as pd
import numpy as np
import datetime
import os

ModuleNotFoundError: No module named 'pandas'

# Daily Data by Health Board

The following Github Repo https://github.com/DataScienceScotland/COVID-19-Management-Information contains information regarding scottish information which is pulled on a daily basis.

In [2]:
df_cases = pd.read_csv("https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Cumulative%20cases.csv")
df_hospital_confirmed = pd.read_csv("https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients%20-%20Confirmed.csv")
df_hospital_all = pd.read_csv("https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients.csv")
df_icu = pd.read_csv("https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20ICU%20patients.csv")

In [3]:
df_icu.head()

,Date,Ayrshire and Arran,Borders,Dumfries and Galloway,Fife,Forth Valley,Grampian,Greater Glasgow and Clyde,Highland,Lanarkshire,Lothian,Orkney,Shetland,Tayside,Western Isles,The Golden Jubilee National Hospital
0,2020-03-18,*,*,*,*,*,*,*,*,*,5,*,*,*,*,*
1,2020-03-19,*,*,*,*,*,*,*,*,*,5,*,*,*,*,*
2,2020-03-20,*,*,*,*,*,*,*,*,*,6,*,*,*,*,*
3,2020-03-21,*,*,*,*,*,*,*,*,*,9,*,*,*,*,*
4,2020-03-22,*,*,*,*,*,*,*,*,*,7,*,*,*,*,*

In [47]:
hbo_list = list(df_icu.columns.values)
hbo_list

['Date',
 'Ayrshire and Arran',
 'Borders',
 'Dumfries and Galloway',
 'Fife',
 'Forth Valley',
 'Grampian',
 'Greater Glasgow and Clyde',
 'Highland',
 'Lanarkshire',
 'Lothian',
 'Orkney',
 'Shetland',
 'Tayside',
 'Western Isles',
 'The Golden Jubilee National Hospital']

In [5]:
path_dict = {
                "cases" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Cumulative%20cases.csv",
                "hospital_covid" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients%20-%20Confirmed.csv",
                "hospital_all" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20Hospital%20patients.csv",
                "icu" : "https://raw.githubusercontent.com/DataScienceScotland/COVID-19-Management-Information/master/COVID19%20-%20Daily%20Management%20Information%20-%20Scottish%20Health%20Boards%20-%20ICU%20patients.csv",
            }

In [48]:
hbo_dict = {
    
    1 : 'Ayrshire and Arran',
    2 : 'Borders',
    3 : 'Dumfries and Galloway',
    4 : 'Western Isles',
    5 : 'Fife',
    6 : 'Forth Valley',
    7 : 'Grampian',
    8 : 'Greater Glasgow and Clyde',
    9 : 'Highland',
    10 : 'Lanarkshire',
    11 : 'Lothian',
    12 : 'Orkney',
    13 : 'Shetland',
    14 : 'Tayside'
}

In [54]:
hbo_dict[14]

'Tayside'

In [6]:
def convert_date_to_week(date):
    date_list = date.split('-')
    date_num = list(map(int, date_list))
    a_date = datetime.date(date_num[0], date_num[1], date_num[2])
    week_number = a_date.isocalendar()[1]
    return week_number

In [7]:
def convert_date_to_day(date):
    date_list = date.split('-')
    date_num = list(map(int, date_list))
    a_date = datetime.date(date_num[0], date_num[1], date_num[2])
    day_of_year = (a_date - datetime.date(date_num[0], 1, 1)).days + 1
    return day_of_year

In [8]:
a = "2020-03-21"
convert_date_to_day(a)

81

In [9]:
def get_hbo_data_by_date(health_board, data_type):
    df = pd.read_csv(path_dict.get(data_type))
    df = df[['Date', health_board]]
    df = df.rename(columns={'Date':'date', health_board:'value'})
    df = df.iloc[-31:]
    return df

In [10]:
def get_hbo_data_by_days(health_board, data_type):
    df = pd.read_csv(path_dict.get(data_type))
    df = df[['Date', health_board]]
    df['day_of_year'] = df['Date'].apply(lambda x : convert_date_to_day(x))
    df = df.set_index('day_of_year')
    df = df.drop(columns=['Date'])
    df = df.reset_index(inplace=False)
    return df

In [11]:
def get_last_month_data(df):
    df = df.iloc[-31:]
    return df

In [61]:
def get_all_hbo_data(hbo_list, path_dict, root_path):
    
    for i in range (1, len(hbo_dict)+1):
        for data_type in path_dict.keys():
            
            # Create the dataframe
            print(hbo_dict[i])
            df = get_hbo_data_by_date(hbo_dict[i], data_type)
            path = root_path + f"{i}_{data_type}.csv"
            current_dir = os.getcwd()
            curr = os.path.dirname(os.getcwd())
            #print(curr)
            df.to_csv(current_dir + path)

In [62]:
get_all_hbo_data(hbo_list, path_dict, "/data/hbo/")

Ayrshire and Arran
Ayrshire and Arran
Ayrshire and Arran
Ayrshire and Arran
Borders
Borders
Borders
Borders
Dumfries and Galloway
Dumfries and Galloway
Dumfries and Galloway
Dumfries and Galloway
Western Isles
Western Isles
Western Isles
Western Isles
Fife
Fife
Fife
Fife
Forth Valley
Forth Valley
Forth Valley
Forth Valley
Grampian
Grampian
Grampian
Grampian
Greater Glasgow and Clyde
Greater Glasgow and Clyde
Greater Glasgow and Clyde
Greater Glasgow and Clyde
Highland
Highland
Highland
Highland
Lanarkshire
Lanarkshire
Lanarkshire
Lanarkshire
Lothian
Lothian
Lothian
Lothian
Orkney
Orkney
Orkney
Orkney
Shetland
Shetland
Shetland
Shetland
Tayside
Tayside
Tayside
Tayside

In [ ]:
get_all_hbo_data2()

In [121]:
get_hbo_data_by_date('Orkney', "hospital_all")

          date value
17  2020-04-04     6
18  2020-04-05     *
19  2020-04-06     *
20  2020-04-07     *
21  2020-04-08     *
22  2020-04-09     *
23  2020-04-10     *
24  2020-04-11     *
25  2020-04-12     *
26  2020-04-13     *
27  2020-04-14     *
28  2020-04-15     *
29  2020-04-16     *
30  2020-04-17     *
31  2020-04-18     *
32  2020-04-19     *
33  2020-04-20     *
34  2020-04-21     *
35  2020-04-22     *
36  2020-04-23     *
37  2020-04-24     *
38  2020-04-25     *
39  2020-04-26     *
40  2020-04-27     *
41  2020-04-28     *
42  2020-04-29     *
43  2020-04-30     *
44  2020-05-01     *
45  2020-05-02     *
46  2020-05-03     *
47  2020-05-04     *

In [65]:
df_fife = get_hbo_data_by_date('Fife', 'hospital_covid')

In [67]:
df_fife

          date  value
16  2020-04-11     97
17  2020-04-12     99
18  2020-04-13    101
19  2020-04-14    102
20  2020-04-15     92
21  2020-04-16     96
22  2020-04-17     98
23  2020-04-18     91
24  2020-04-19    105
25  2020-04-20    105
26  2020-04-21    102
27  2020-04-22    100
28  2020-04-23    113
29  2020-04-24    110
30  2020-04-25    111
31  2020-04-26    113
32  2020-04-27    109
33  2020-04-28    113
34  2020-04-29    114
35  2020-04-30    103
36  2020-05-01    100
37  2020-05-02    100
38  2020-05-03    100
39  2020-05-04    100
40  2020-05-05     89
41  2020-05-06     90
42  2020-05-07     86
43  2020-05-08     88
44  2020-05-09     84
45  2020-05-10     82
46  2020-05-11     80

In [43]:
df_fife_small = get_last_month_data(df_fife)

In [44]:
df_fife_small

    day_of_year  Fife
16          102    97
17          103    99
18          104   101
19          105   102
20          106    92
21          107    96
22          108    98
23          109    91
24          110   105
25          111   105
26          112   102
27          113   100
28          114   113
29          115   110
30          116   111
31          117   113
32          118   109
33          119   113
34          120   114
35          121   103
36          122   100
37          123   100
38          124   100
39          125   100
40          126    89
41          127    90
42          128    86
43          129    88
44          130    84
45          131    82
46          132    80

In [17]:
df_fife2 = get_hbo_data2('Fife', 'hospital_covid')
df_fife2 = df_fife2.rename(columns={'Date':'date', 'Fife':'value'})

In [20]:
df_fife2.to_csv('testdata_basic_linegraph.csv')

In [34]:
df_fife = df_fife.rename(columns={'day_of_year':'time', 'Fife':'valueA'})

In [35]:
df_fife.to_csv('fife_hospital_all2.csv')

In [11]:
df_fife

    day_of_year  Fife
0            78    18
1            79    24
2            80    20
3            81    16
4            82    23
5            83    28
6            84    42
7            85    28
8            86    45
9            87    51
10           88    50
11           89    64
12           90    81
13           91    74
14           92    60
15           93    98
16           94    95
17           95   115
18           96   120
19           97   115
20           98   131
21           99   127
22          100   136
23          101   131
24          102   129
25          103   122
26          104   121
27          105   120
28          106   105
29          107   125
30          108   124
31          109   119
32          110   127
33          111   120
34          112   138
35          113   135
36          114   141
37          115   136
38          116   133
39          117   153
40          118   152
41          119   146
42          120   148
43          121   142
44          122   139
45          123   130
46          124   123
47          125   125

In [50]:
df_fife['day_of_year'] = df_fife['Date'].apply(lambda x : convert_date_to_day(x))

In [53]:
df_fife

          Date  Fife  Date_new  day_of_year
0   2020-03-18    18        78           78
1   2020-03-19    24        79           79
2   2020-03-20    20        80           80
3   2020-03-21    16        81           81
4   2020-03-22    23        82           82
5   2020-03-23    28        83           83
6   2020-03-24    42        84           84
7   2020-03-25    28        85           85
8   2020-03-26    45        86           86
9   2020-03-27    51        87           87
10  2020-03-28    50        88           88
11  2020-03-29    64        89           89
12  2020-03-30    81        90           90
13  2020-03-31    74        91           91
14  2020-04-01    60        92           92
15  2020-04-02    98        93           93
16  2020-04-03    95        94           94
17  2020-04-04   115        95           95
18  2020-04-05   120        96           96
19  2020-04-06   115        97           97
20  2020-04-07   131        98           98
21  2020-04-08   127        99           99
22  2020-04-09   136       100          100
23  2020-04-10   131       101          101
24  2020-04-11   129       102          102
25  2020-04-12   122       103          103
26  2020-04-13   121       104          104
27  2020-04-14   120       105          105
28  2020-04-15   105       106          106
29  2020-04-16   125       107          107
30  2020-04-17   124       108          108
31  2020-04-18   119       109          109
32  2020-04-19   127       110          110
33  2020-04-20   120       111          111
34  2020-04-21   138       112          112
35  2020-04-22   135       113          113
36  2020-04-23   141       114          114
37  2020-04-24   136       115          115
38  2020-04-25   133       116          116
39  2020-04-26   153       117          117
40  2020-04-27   152       118          118
41  2020-04-28   146       119          119
42  2020-04-29   148       120          120
43  2020-04-30   142       121          121
44  2020-05-01   139       122          122
45  2020-05-02   130       123          123
46  2020-05-03   123       124          124
47  2020-05-04   125       125          125

In [118]:
df_hospital_all

,Date,Ayrshire and Arran,Borders,Dumfries and Galloway,Fife,Forth Valley,Grampian,Greater Glasgow and Clyde,Highland,Lanarkshire,Lothian,Orkney,Shetland,Tayside,Western Isles,The Golden Jubilee National Hospital
0,2020-03-18,*,*,*,18,*,*,18,*,46,41,*,6,10,*,*
1,2020-03-19,31,11,*,24,5,*,22,16,37,39,*,8,17,*,*
2,2020-03-20,37,7,5,20,6,*,32,11,53,48,*,6,17,*,*
3,2020-03-21,27,12,5,16,8,6,42,14,37,49,*,*,23,*,*
4,2020-03-22,38,18,6,23,8,7,57,28,44,24,*,*,26,*,*
5,2020-03-23,25,10,7,28,13,6,70,36,49,53,*,*,26,*,*
6,2020-03-24,36,10,20,42,14,5,87,43,64,88,*,*,30,*,*
7,2020-03-25,41,16,20,28,19,7,104,39,80,86,*,*,40,*,*
8,2020-03-26,45,9,23,45,62,8,125,39,85,79,*,*,50,*,*
9,2020-03-27,44,25,31,51,64,13,153,28,92,115,*,*,50,*,*
10,2020-03-28,51,35,41,50,65,16,200,38,110,105,*,*,61,*,5
11,2020-03-29,52,37,39,64,84,21,213,38,131,106,*,*,62,*,6
12,2020-03-30,51,34,37,81,94,23,226,33,149,108,*,*,74,*,6
13,2020-03-31,57,41,39,74,101,29,287,43,157,153,*,5,76,5,5
14,2020-04-01,62,53,47,60,109,32,331,48,147,168,*,*,80,5,5
15,2020-04-02,71,53,46,98,109,31,347,40,186,197,*,*,89,*,*
16,2020-04-03,74,54,40,95,108,45,404,39,192,215,*,*,85,*,*
17,2020-04-04,79,57,36,115,99,44,421,51,223,232,6,*,111,*,*
18,2020-04-05,84,57,43,120,88,53,458,51,239,270,*,*,118,*,*
19,2020-04-06,83,51,47,115,106,61,476,60,239,278,*,5,119,*,*
20,2020-04-07,104,54,29,131,119,61,534,62,246,261,*,*,125,*,*
21,2020-04-08,91,56,44,127,107,62,555,61,249,275,*,*,134,*,5
22,2020-04-09,94,67,40,136,106,73,563,56,256,269,*,*,109,*,*
23,2020-04-10,110,64,49,131,86,74,571,54,287,277,*,*,112,*,7
24,2020-04-11,126,62,61,129,97,77,590,55,257,262,*,*,123,*,7
25,2020-04-12,90,50,43,122,91,91,597,53,247,245,*,*,113,*,5
26,2020-04-13,102,54,51,121,92,89,583,62,263,258,*,*,115,*,5
27,2020-04-14,112,57,40,120,93,86,594,58,261,263,*,*,109,*,7
28,2020-04-15,116,55,36,105,96,78,598,61,225,259,*,*,110,*,7
29,2020-04-16,110,66,31,125,97,86,606,60,203,284,*,*,118,*,9
30,2020-04-17,119,56,29,124,80,85,580,62,261,278,*,*,109,*,9
31,2020-04-18,118,52,29,119,77,84,593,59,252,286,*,*,108,*,10
32,2020-04-19,122,57,35,127,78,80,593,65,249,279,*,*,98,*,10
33,2020-04-20,129,55,37,120,89,84,603,58,238,268,*,*,110,*,10
34,2020-04-21,121,54,37,138,91,91,583,68,240,322,*,6,98,*,12
35,2020-04-22,103,52,29,135,84,91,574,68,247,288,*,*,90,*,12
36,2020-04-23,104,40,36,141,85,102,564,56,237,277,*,*,97,*,8
37,2020-04-24,113,40,28,136,83,100,561,55,236,275,*,*,78,*,5
38,2020-04-25,102,56,24,133,96,98,557,52,244,287,*,*,92,*,*
39,2020-04-26,91,49,22,153,84,88,557,50,241,301,*,*,91,*,*
40,2020-04-27,101,40,28,152,87,90,557,48,257,301,*,*,95,*,*
41,2020-04-28,112,49,25,146,107,97,542,61,257,263,*,*,88,*,*
42,2020-04-29,109,37,32,148,92,104,555,43,253,254,*,*,96,*,*
43,2020-04-30,113,43,21,142,78,119,548,42,263,280,*,*,95,*,*
44,2020-05-01,105,37,24,139,88,119,538,34,258,310,*,*,86,*,*
45,2020-05-02,103,36,23,130,95,125,530,36,247,258,*,*,86,*,*
46,2020-05-03,115,35,18,123,66,147,526,41,233,269,*,*,88,*,*
47,2020-05-04,86,30,21,125,70,130,533,44,257,327,*,*,92,*,5