In [1]:
import pandas as pd
import numpy as np
import zipfile
from io import BytesIO
from zipfile import ZipFile
from urllib.request import urlopen
import datetime
import urllib.request, urllib.error
import os.path
import datetime

In [2]:
all_deaths_path = "data/sco_covid_data/custom_data/all_deaths_lad_18.csv"
covid_deaths_path = "data/sco_covid_data/custom_data/covid_deaths_lad_18.csv"
loc_deaths_all_path = "data/sco_covid_data/custom_data/deaths_by_location_all_lad_18.csv"
loc_deaths_corona_path = "data/sco_covid_data/custom_data/deaths_by_location_corona_lad_18.csv"
path = "https://www.nrscotland.gov.uk/files//statistics/covid19/"

In [3]:
data = [['S12000033', 'Aberdeen City'],
  ['S12000034', 'Aberdeenshire'],
  ['S12000041', 'Angus council'],
  ['S12000035', 'Argyll and Bute Council'],
  ['S12000036', 'Edinburgh'],
  ['S12000005', 'Clackmannanshire'],
  ['S12000006', 'Dumfries and Galloway'],
  ['S12000042', 'Dundee City Council'],
  ['S12000008', 'East Ayrshire Council'],
  ['S12000045', 'East Dunbartonshire Council'],
  ['S12000010', 'East Lothian Council'],
  ['S12000011', 'East Renfrewshire Council'],
  ['S12000014', 'Falkirk'],
  ['S12000015', 'Fife'],
  ['S12000046', 'Glasgow City'],
  ['S12000017', 'Highland Council'],
  ['S12000018', 'Inverclyde'],
  ['S12000019', 'Midlothian'],
  ['S12000020', 'Moray'],
  ['S12000013', 'Na h-Eileanan an Iar'],
  ['S12000021', 'North Ayrshire Council'],
  ['S12000044', 'North Lanarkshire'],
  ['S12000023', 'Orkney'],
  ['S12000024', 'Perth and Kinross'],
  ['S12000038', 'Renfrewshire'],
  ['S12000026', 'Scottish Borders'],
  ['S12000027', 'Shetland Islands'],
  ['S12000028', 'South Ayrshire Council'],
  ['S12000029', 'South Lanarkshire'],
  ['S12000030', 'Stirling'],
  ['S12000039', 'West Dunbartonshire Council'],
  ['S12000040', 'West Lothian']]

In [4]:
def get_week_num():
    return datetime.date.today().isocalendar()[1]

In [5]:
get_week_num()

21

In [6]:
'''NEED TO REFACTOR THIS'''
def get_covid_deaths_df(path):
            
    # Try get get the most recent data
    try:
        url = path + "covid-deaths-data-week-%d.zip" % (get_week_num()-1)
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-19_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        df_all_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-19_Table 2 - All deaths.csv'),header = 3, encoding='unicode-escape')
        
        df_covid_deaths_trimmed = df_covid_deaths.iloc[48:80, 1:get_week_num()+1]
        df_all_deaths_trimmed = df_all_deaths.iloc[50:82, 1:get_week_num()+1]

        
        return df_all_deaths_trimmed, df_covid_deaths_trimmed
    
    # If error, then get last week response
    except urllib.error.HTTPError as e:
        url = path + "covid-deaths-data-week-%d.zip" % (get_week_num()-2)
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_covid_deaths = pd.read_csv(zipfile.open('covid-deaths-data-week-19_Table 1 - COVID deaths.csv'),header = 3, encoding='unicode-escape')
        
        idx_start = np.where(df_covid_deaths['Unnamed: 1'] == 'Aberdeen City')[0][0]
        idx_end = idx_start + 32
        df_covid_deaths_trimmed = df_covid_deaths.iloc[idx_start:idx_end,1:get_week_num()]
        df_covid_deaths_trimmed = df_covid_deaths_trimmed.set_index('Unnamed: 1')
        
        return df_covid_deaths_trimmed

In [7]:
def get_death_locations_df(path, week):
            
    # Try get get the most recent data
    try:
        url = path + "covid-deaths-data-week-%d.zip" % week
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        df_location = pd.read_csv(zipfile.open('covid-deaths-data-week-%d_Table 3 - deaths by location.csv' % week), header=3, encoding='unicode-escape')
        idx_start = np.where(df_location['Unnamed: 0'] == 'Aberdeen City')[0][0]
        idx_end = idx_start + 32
        df_location_trimmed = df_location.iloc[idx_start:idx_end, :-2]

        
        return df_location_trimmed
    
    # If error, then get last week response
    except urllib.error.HTTPError as e:
        print(week)
        url = path + "covid-deaths-data-week-%d.zip" % week-1
        conn = urllib.request.urlopen(url)
        zipfile = ZipFile(BytesIO(conn.read()))
        
        
        df_location = pd.read_csv(zipfile.open('covid-deaths-data-week-%d_Table 3 - deaths by location.csv' % week), header=3, encoding='unicode-escape')

        idx_start = np.where(df_location['Unnamed: 0'] == 'Aberdeen City')[0][0]
        print(idx_start)
        idx_end = idx_start + 32
        df_location_trimmed = df_location.iloc[idx_start:idx_end, :-2]
        return df_location_trimmed

In [14]:
df_death_locations_trimmed = get_death_locations_df(path, 20)
df_death_locations_trimmed

,Unnamed: 0,Care\nHome,Home / Non-institution,Hospital,Other\ninstitution3,All locations,Unnamed: 6,Care\nHome.1,Home / Non-institution.1,Hospital.1,Other\ninstitution3.1,All locations.1
24,Aberdeen City,46,5.0,42,0.0,93,NaN,252,244,463,0.0,959
25,Aberdeenshire,56,13.0,38,0.0,107,NaN,344,341,498,2.0,"1,185"
26,Angus,34,6.0,19,0.0,59,NaN,171,200,249,0.0,620
27,Argyll and Bute,22,8.0,29,0.0,59,NaN,108,202,211,0.0,521
28,City of Edinburgh,219,16.0,125,0.0,360,NaN,786,559,862,0.0,"2,207"
29,Clackmannanshire,31,1.0,9,0.0,41,NaN,106,78,101,2.0,287
30,Dumfries and Galloway,9,1.0,37,0.0,47,NaN,173,268,419,0.0,860
31,Dundee City,61,15.0,60,0.0,136,NaN,210,264,408,0.0,882
32,East Ayrshire,26,5.0,34,0.0,65,NaN,138,224,327,2.0,691
33,East Dunbartonshire,68,4.0,32,0.0,104,NaN,213,150,213,0.0,576
34,East Lothian,50,4.0,20,0.0,74,NaN,167,130,224,0.0,521
35,East Renfrewshire,44,3.0,42,0.0,89,NaN,155,117,184,1.0,457
36,Falkirk,56,12.0,43,0.0,111,NaN,253,259,361,0.0,873
37,Fife,66,15.0,96,0.0,177,NaN,434,526,820,0.0,"1,780"
38,Glasgow City,238,23.0,307,2.0,570,NaN,905,907,"1,347",7.0,"3,166"
39,Highland,11,6.0,27,0.0,44,NaN,297,357,465,0.0,"1,119"
40,Inverclyde,35,11.0,60,0.0,106,NaN,166,175,256,0.0,597
41,Midlothian,63,4.0,35,0.0,102,NaN,157,104,191,0.0,452
42,Moray,2,4.0,7,0.0,13,NaN,87,155,182,0.0,424
43,Na h-Eileanan Siar,0,0.0,0,0.0,0,NaN,49,43,57,0.0,149
44,North Ayrshire,38,9.0,36,0.0,83,NaN,195,230,381,1.0,807
45,North Lanarkshire,77,19.0,133,1.0,230,NaN,392,597,804,9.0,"1,802"
46,Orkney Islands,0,0.0,2,0.0,2,NaN,11,68,14,0.0,93
47,Perth and Kinross,20,5.0,37,0.0,62,NaN,237,208,353,18.0,816
48,Renfrewshire,89,8.0,80,0.0,177,NaN,347,276,410,5.0,"1,038"
49,Scottish Borders,5,6.0,43,0.0,54,NaN,99,159,294,49.0,601
50,Shetland Islands,5,0.0,2,0.0,7,NaN,43,22,28,0.0,93
51,South Ayrshire,45,5.0,43,0.0,93,NaN,224,181,318,0.0,723
52,South Lanarkshire,110,26.0,115,1.0,252,NaN,505,536,731,4.0,"1,776"
53,Stirling,18,8.0,25,0.0,51,NaN,122,136,165,2.0,425
54,West Dunbartonshire,55,4.0,51,0.0,110,NaN,151,186,212,0.0,549
55,West Lothian,24,9.0,35,0.0,68,NaN,171,254,356,0.0,781

In [15]:
df_death_locations_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 24 to 55
Data columns (total 12 columns):
Unnamed: 0                  32 non-null object
Care
Home                   32 non-null object
Home / Non-institution      32 non-null float64
Hospital                    32 non-null object
Other
institution3          32 non-null float64
All locations               32 non-null object
Unnamed: 6                  0 non-null float64
Care
Home.1                 32 non-null object
Home / Non-institution.1    32 non-null object
Hospital.1                  32 non-null object
Other
institution3.1        32 non-null float64
All locations.1             32 non-null object
dtypes: float64(4), object(8)
memory usage: 3.1+ KB

In [16]:
def get_data_for_location(df_locations_trimmed, area_name):
    
    df_area = df_locations_trimmed.set_index('Unnamed: 0')
    df_area_solo = df_area.loc[[area_name]]
    df_area_solo2 = df_area_solo.iloc[:,0:3]
    df_transpose = df_area_solo2.transpose()
    df_transpose = df_transpose.reset_index()
    df_transpose = df_transpose.rename(columns={'index':'Country', area_name:'Value'})
    
    return df_transpose

In [17]:
lad_dict = {"S12000033":"Aberdeen City","S12000034":"Aberdeenshire","S12000041":"Angus","S12000035":"Argyll and Bute","S12000036":"City of Edinburgh","S12000005":"Clackmannanshire","S12000006":"Dumfries and Galloway","S12000042":"Dundee City","S12000008":"East Ayrshire","S12000045":"East Dunbartonshire","S12000010":"East Lothian","S12000011":"East Renfrewshire","S12000014":"Falkirk","S12000015":"Fife","S12000046":"Glasgow City","S12000017":"Highland","S12000018":"Inverclyde","S12000019":"Midlothian","S12000020":"Moray","S12000013":"Na h-Eileanan Siar","S12000021":"North Ayrshire","S12000044":"North Lanarkshire","S12000023":"Orkney Islands","S12000024":"Perth and Kinross","S12000038":"Renfrewshire","S12000026":"Scottish Borders","S12000027":"Shetland Islands","S12000028":"South Ayrshire","S12000029":"South Lanarkshire","S12000030":"Stirling","S12000039":"West Dunbartonshire","S12000040":"West Lothian"}

In [18]:
def populate_location_deaths(df_locations_trimmed, data_dict, root_path):
    
    for x in data_dict.keys():
        df_area = get_data_for_location(df_locations_trimmed, data_dict.get(x))
        path = root_path + f"{x}.csv"
        print(path)
        current_dir = os.getcwd()
        curr = os.path.dirname(os.getcwd())
        #print(curr)
        df_area.to_csv(current_dir + path)

In [19]:
populate_location_deaths(df_death_locations_trimmed, lad_dict, "/data/lad/loc_deaths/")

/data/lad/loc_deaths/S12000033.csv
/data/lad/loc_deaths/S12000034.csv
/data/lad/loc_deaths/S12000041.csv
/data/lad/loc_deaths/S12000035.csv
/data/lad/loc_deaths/S12000036.csv
/data/lad/loc_deaths/S12000005.csv
/data/lad/loc_deaths/S12000006.csv
/data/lad/loc_deaths/S12000042.csv
/data/lad/loc_deaths/S12000008.csv
/data/lad/loc_deaths/S12000045.csv
/data/lad/loc_deaths/S12000010.csv
/data/lad/loc_deaths/S12000011.csv
/data/lad/loc_deaths/S12000014.csv
/data/lad/loc_deaths/S12000015.csv
/data/lad/loc_deaths/S12000046.csv
/data/lad/loc_deaths/S12000017.csv
/data/lad/loc_deaths/S12000018.csv
/data/lad/loc_deaths/S12000019.csv
/data/lad/loc_deaths/S12000020.csv
/data/lad/loc_deaths/S12000013.csv
/data/lad/loc_deaths/S12000021.csv
/data/lad/loc_deaths/S12000044.csv
/data/lad/loc_deaths/S12000023.csv
/data/lad/loc_deaths/S12000024.csv
/data/lad/loc_deaths/S12000038.csv
/data/lad/loc_deaths/S12000026.csv
/data/lad/loc_deaths/S12000027.csv
/data/lad/loc_deaths/S12000028.csv
/data/lad/loc_deaths/S12000029.csv
/data/lad/loc_deaths/S12000030.csv
/data/lad/loc_deaths/S12000039.csv
/data/lad/loc_deaths/S12000040.csv

In [104]:
df_tester = get_data_for_location(df_death_locations_trimmed, 'Aberdeen City')
df_tester

Unnamed: 0                 Country Value
0                       Care\nHome    22
1           Home / Non-institution     3
2                         Hospital    23

In [106]:
df_tester.to_csv('tester2.csv')